<p style="color: green"><%= notice %></p>

<%= render @forum_thread %>

<%= render partial: "forum_posts/new", locals: { thread: @forum_thread, post: @post } %>
<h2>Raspunsurile deja propuse!</h2>
<%= render partial: "forum_posts/show", locals: { thread: @forum_thread, posts: @posts, post: @post}%>

<div>
  <%= link_to "Edit this forum thread", edit_forum_thread_path(@forum_thread) %> |
  <%= link_to "Back to forum threads", forum_threads_path %>

  <%= button_to "Destroy this forum thread", @forum_thread, method: :delete %>
</div>
