<!DOCTYPE html>
<html>
<head>
  <title>Admin Panel</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", media: "all" %>
</head>
<body>
  <nav>
    <%= link_to "Dashboard", admin_root_path %> |
    <%= link_to "Users", admin_users_path %> |
    <%= link_to "Posts", admin_posts_path %> |
    <%= link_to "Logout", destroy_admin_user_session_path, method: :delete %>
  </nav>
  <%= yield %>
</body>
</html>
